@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Raleway:ital,wght@1,200&display=swap');

#header {
    background: #000;
}


.nav-link {
    color: #fff !important;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    display: block;
    /* margin-left: 12px; */
}

.first {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}
.site-topnav {
    padding: 0;
    align-items: stretch;

}

.collapse {
    align-items: stretch;
}
.navbar-left{
    flex-wrap: wrap;
}

li:hover {
    background-color: #55d737;
}

.nav-item {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0px 25px;
}

.icon {
    display:none;
}
.icon-last {

    display: none;
}

.toggle-part {
    display: flex;
}
button{
    border: none;
    background: none;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
}
button:focus{
    outline: none;
    
}

@media (max-width: 1000px) {
    .nav-item{
        display: flex;
        justify-content: left;
    }

    .icon {
        background-color: #55d737;
        color: #fff;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1000px){
    .icon-last {
        background-color: #55d737;
        color: #fff;
        display: flex;
        align-items: center;
    }
 
    
}